# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nexus_league"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/nexus_league"

# Auth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3004"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Riot Games
RIOT_API_KEY=""

# Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Media
CLOUDINARY_URL=""
