PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres@127.0.0.1:5433/nexus_league"
DRAFT_JWT_SECRET="generate-with-openssl-rand-hex-32"
INTERNAL_API_SECRET="generate-with-openssl-rand-hex-32"
REDIS_URL="redis://127.0.0.1:6379"
WEB_ORIGIN="http://localhost:3004"
